<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activate Your Account</title>
  </head>
  <style>
    a {
      color: #0051ff;
    }
  </style>
  <body>
    <p>👋 Hey {{ name }},</p>
    <p>You recently created an account for the {{ app }} application.</p>

    <a href="{{ url }}">
      Activate Account
    </a>

    <p>All the best,</p>
     <p>{{ app }} Team 😊</p>
  </body>
</html>
