<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activate Your Account</title>
  </head>
  <style>
    a {
      background-color: #0051ff;
      color: white;
      padding: 10px 15px;
      border-radius: 4px;
      text-decoration: none;
    }

    .margin-top {
      margin-top: 35px;
    }

    .margin-bottom {
      margin-bottom: 35px;
    }
  </style>
  <body>
    <p>👋 Hey {{ name }},</p>
    <p class="margin-bottom">You recently created an account for the {{ app }} application. Please use the link below to activate your account.</p>

    <a href="{{ url }}">
      Activate Account
    </a>

    <p class="margin-top">The link will expire in 1 hour.</p>
    <p>All the best,</p>
    <p>{{ app }} Team 😊</p>
  </body>
</html>
